# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# PDF data & vectorstore
vectorstore/
data/*.pdf

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# PyInstaller
*.spec
dist/
build/
